@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Sales WebSite developed for study in C# using .NET Core Framework.";
    ViewData["Name"] = "Rafael Piccolo.";
    ViewData["Message"] = "Your contact page.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed by @ViewData["Name"]</p>
